#first {

    
    animation: zoomEffect 3s ease-in-out infinite;
    
    

}

@keyframes zoomEffect {
    0% {
        transform: scale(1); /* Estado inicial (sin zoom) */
    }
    50% {
        transform: scale(1.1); /* Acercamiento (zoom in) */
    }
    100% {
        transform: scale(1); /* Alejamiento (zoom out) */
    }
}





body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }



#second a {
    font-size: 35rem;
}

@media (max-width: 768px) {
    #second a {
      font-size: 15rem;
    }
}


.custom-width {
    width: 40rem;
  }
  

  @media (max-width: 768px) {
    .custom-width {
      width: 18rem;
    }
  }


  .custom-width2 {
    width: 18rem;
  }
  

  @media (max-width: 768px) {
    .custom-width2 {
      width: 40rem;
    }
  }

  body {
    font-family: system-ui;
    background: #ffffff;
    color: white;
    text-align: center;
    
  }

  #botonAnimado {
  transition: transform 0.3s ease, color 0.3s ease;
}

#botonAnimado:hover {
  transform: scale(1.1);
  color: #0d6efd; /* opcional */
}




#plan1, #plan2, #plan3 {
  width: 79.65px !important;
  height: 84.2px !important;
  background-color: #212529 !important; /* Para que coincida con el color oscuro del otro badge */
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 1rem !important;
}

#plan1 p,#plan2 p, #plan3 p {
  margin: 0 !important;
  text-align: center !important;
}